<h1>About This Site</h1>
<p>This site is to practice putting in features for a RoR framework. Recipes are listed and scheduled via a calendar and can be viewed in list format or calendar format. Tags are used to identify meals for specific occassions or people. Links to popular recipe sites are featured as well as ideas for future recipes not yet scheduled.</p>
