<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>About this page</title>
</head>
<body>
	<h1> About this page </h1>
<p>This site is built in Ruby on Rails using a variety of gems. Recipes are listed and scheduled via a calendar and can be viewed in list format or calendar format. Tags are used to identify meals for specific occassions or people. Links to popular recipe sites are featured as well as ideas for future recipes not yet scheduled. Scheduled and unscheduled recipes are searchable.</p>
<p> And as appropriate for my entrance into the developer world, Brave:</p>

  <iframe width="560" height="315" src="//www.youtube.com/embed/QUQsqBqxoR4" frameborder="0" allowfullscreen></iframe>


</body>
</html> 

