<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>About this page</title>
</head>
<body>
	<h1> About this page </h1>
<p>This site is to practice putting in features for a RoR framework. Recipes are listed and scheduled via a calendar and can be viewed in list format or calendar format. Tags are used to identify meals for specific occassions or people. Links to popular recipe sites are featured as well as ideas for future recipes not yet scheduled.</p>
<p> And here is a random video to enjoy</p>
<video width="320" height="240" controls>
  <source src="https://www.youtube.com/watch?v=FlcxEDy-lr0" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

</body>
</html> 

