<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Links I like</title>
</head>

<body>
<p><li><a href="http://www.food52.com">Food52</a></li>
<td><li><a href="http://www.foodnetwork.com">Food Network</a></li></td></p>
<p><li><a href="http://www.smittenkitchen.com">Smitten Kitchen</a></li></p>
<p><li><a href="http://naturallyella.com/recipes/">Naturally Ella</a></li></p>

</body>


</html>