/* line 5, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar {
  border-collapse: collapse;
  width: 100%;
}

/* line 9, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar td, #recipes .calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

/* line 16, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

/* line 23, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

/* line 31, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar .notmonth, #recipes .calendar .notmonth a {
  color: #CCC;
}

/* line 32, app/assets/stylesheets/calendar.css.scss */
#recipes .calendar .today {
  background-color: #D7F2FF;
}

/* line 35, app/assets/stylesheets/calendar.css.scss */
#recipes #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}

/* line 40, app/assets/stylesheets/calendar.css.scss */
#recipes #month a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

/* line 47, app/assets/stylesheets/calendar.css.scss */
#recipes ul {
  font-size: 11px;
  padding-left: 20px;
}
