/* @import "bootstrap"; */
/* line 7, app/assets/stylesheets/recipes.css.scss */
* {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

/* user profiles */
/* line 12, app/assets/stylesheets/recipes.css.scss */
.container h1 {
  height: 40px;
  width: 110px;
  color: #f9f41f;
  background-color: #1fa8f9;
  padding: 0 10px 10px 10px;
}

/* line 20, app/assets/stylesheets/recipes.css.scss */
.page-header {
  color: #6024a8;
  font-weight: bold;
}

/* Table Structure */
/* line 27, app/assets/stylesheets/recipes.css.scss */
tr {
  color: #07221a;
  background-color: #b11095;
}

/* line 32, app/assets/stylesheets/recipes.css.scss */
table {
  color: #07221a;
  background-color: #1034b1;
  border: 4px solid;
}

/* line 38, app/assets/stylesheets/recipes.css.scss */
#recipe {
  color: #07221a;
  background-color: #1034b1;
}
