/* line 5, app/assets/stylesheets/static_pages.css.scss */
p {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
