// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @import "bootstrap"; */

/* Global */
* {
   font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

/* user profiles */
h1 {
  height: 40px;
  color: #f9f41f;
  background-color: #1fa8f9;
  padding: 0 10px 10px 10px;
}

img {
  margin: 10px;
  border: 2px black;
}

img:hover {
  margin: 10px;
  border: 5px black;
  transition-duration: 1s;
  border-radius: 50%;
}


.page-header {
  color: #6024a8;
  font-weight: bold;
}

/* Table Structure */

a {
  color: #0b0b09;
}

a:hover {
  background: #faf82e;
}

th {
  color: #07221a;
  background-color: #dc31ed;
}

td {
  color: #0b0b09;
  background-color: #21a8f2;
}

table {
  color: #ffffff;
  background-color: #21a8f2;
  border: 4px solid;
  padding-top: 20px;
}



.btn {
  color: #ffffff;
  margin-bottom: 3px;
  font-style: italic;
  font-variant: small-caps;
}

/* Static Pages */
iframe {
  border: 2px dashed gray;
}
