// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @import "bootstrap"; */


/* user profiles */
h1 {
  height: 40px;
  color: #f9f41f;
  background-color: #1fa8f9;
  padding: 0 10px 10px 10px;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

img {
  margin: 10px;
  border: 2px #f146ac;
}

img:hover {
  margin: 10px;
  border: 2px #f146ac;
  transition-duration: 1s;
  border-radius: 50%;
}


.page-header {
  color: #6024a8;
  font-weight: bold;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

/* Table Structure */

th {
  color: #07221a;
  background-color: #dc31ed;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

td {
  color: #07221a;
  background-color: #21a8f2;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

table {
  color: #ffffff;
  background-color: #21a8f2;
  border: 4px solid;
  padding-top: 20px;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

a:hover {
    color: #f0f146;
    background-color: #f0f146;
}

.btn {
  color: #ffffff;
  margin-bottom: 3px;
  font-style: italic;
  font-variant: small-caps;
}
